include sysendian.h
include insecure_memzero.h
include sha256.h
include sha256.c
include benchmark.c
include yespower-opt.c
include yespower-ref.c
include yespower-platform.c
include yespower.h

insecure_memzero.h
sha256.h
yespower-platform.c
sysendian.h
yespower-ref.c
yespower.c
sha256.c
yespower-opt.c
yespower.h
benchmark.c
tests.c
